﻿@{
    ViewBag.Title = "XSis 240";
}

<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Part 12 : Membuat Navigation bar Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" ">Malas Ngoding Cuk</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="~/Category/Index">Category <span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Variant/Index">Variant</a></li>
                    <li><a href="~/Product/Index">Product</a></li>
                    <li><a href="~/UploadFile/Index">Upload File Foto</a></li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Menu
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Bootstrap</a></li>
                        </ul>
                    </li>


                </ul>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Aditya</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <h1>PERCOBAAN HEHEHEHE....</h1>
    
</body>
</html>